<div
  class="nav">
</div>
<div class="main-banner"></div>
<div class="container">
  <div class="coctail-cards d-flex">
    <% @cocktails.each do |cocktail| %>
      <%= render "card", cocktail: cocktail %>
    <% end %>
  </div>
    <%= render "create_card" %>
</div>



