<div
  class="nav">
</div>
<div class="turtle-banner" style="background-image: url(<%= cl_image_path("turtle_banner_pcrnb2")%>); background-size: cover; height: 100vh ">
  <div class="container">
    <div>
      <h1
        class="text-center font-weight-bold">Cocktaaaaaaiiiiiils
      </h1>
      <% @cocktails.each do |cocktail| %>
        <%= render "card", cocktail: cocktail %>
      <% end %>
    </div>
       <%= render "create_card" %>
    </div>
  </div>
</div>


