.card {
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
}

.words {
  color: #665B5A;
}

.coctail-cards {
  margin-top: 54px;
}

.btn-success {
  border-radius: 4px;
}
