.main-banner {
  position: fixed;
  padding-top: 54px;
  background-image: url("https://res.cloudinary.com/dedqosv7x/image/upload/v1575947345/cocktails_wkbbfy.jpg");
  background-size: auto;
  height: 100vh;
  width: 100%;
  padding-top: 54px;
}
