@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

.main-banner {
  position: relative;
  padding-top: 54px;
  background-image: url("https://res.cloudinary.com/dedqosv7x/image/upload/v1575947345/cocktails_wkbbfy.jpg");
  background-size: auto;
  height: 100vh;
  width: 100%;
  padding-top: 54px;
}

.container {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

.create-card-container {
  width: 60%;
  display: flex;
  justify-content: center;
}

#header-text {
  font-family: 'Caveat', cursive;
  top: 120px;
  right: 343px;
  position: absolute;
  h1 {
    font-size: 70px;
    color: white;
  }
}
